* {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
}

/* Define a linear gradient background */
.background-container {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  height: 60vh;
  background: hsl(275, 100%, 97%);
}

.background-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url("./assets/images/background-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 40vh;
}
.head {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 16px;
  padding: 16px;
  padding-bottom: 24px;
}
.star-icon {
  scale: 0.7;
}
.accordion-button.collapsed::after {
  display: none !important;
}
.accordion-button:not(.collapsed)::after {
  display: none !important;
}
.accordion-item {
  border: none !important;
  outline: none !important;
}
.accordion-item span:hover {
  color: #ad28eb;
}
.accordion-header:not(.collapsed) {
  background-color: white !important;
}
.heading {
  font-weight: bolder !important;
  font-size: 32px;
}
.description {
  font-weight: 400 !important;
  opacity: 0.6 !important;
}
hr {
  opacity: 0.08 !important;
  margin-top: -10px !important;
}

.custom-card {
  width: 40vw;
  border-radius: 20px;
  position: absolute;
  top: 30%;
  left: 30%;
}

@media (max-width: 375px) {
  .background-image-container {
    background-image: url("./assets/images/background-pattern-mobile.svg");
    background-size: cover;
    background-position: center;
    height: 35vh;
  }
  .background-container {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 70vh;
    background: hsl(275, 100%, 97%);
  }
  .custom-card {
    width: 90vw !important;
    border-radius: 8px !important;
  }
  .head {
    padding: 10px !important;
    padding-bottom: 16px !important;
  }
  .custom-card {
    left: 5% !important;
  }
}
